@import './../../styles/variables.scss';

.container {
  margin-top: calc($headerHeight + $subHeaderHeight);
  //margin-top: 6vw;
  //background: green;

  .content {
    border: 1.2px solid rgb(182, 181, 181);    
    border-radius: 6px;
    margin-top: 9px;
    width: 48vw;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 5px;
    //box-shadow: 1px 1px 2px 1px rgba(125, 125, 128, 0.712);
  
    .offers_link p {
      cursor: pointer;
      a {
        color: green;
      }
    }
  }

    .delete_btn_container:hover .delete_btn {
      visibility: visible;
      cursor: pointer;
    }
    .delete_btn {
      background-color: rgb(243, 126, 126);
      visibility: hidden;   
    span {
      color: white;
    }
  }
 
}


