.list {
  display: flex;
  flex-direction: column;
}
.content {
  border: 1px solid black;
  margin-top: 3px;
}

.item {
  display: flex;
  align-items: center;
  border: 0px solid grey;
  width: 70%;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: rgb(202, 188, 188);
  cursor: pointer;

  .avatar {
    //margin-right: 20px;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    width: 100px;
    height: 100px;
    border-radius: 5px;

    .avaPhoto {
      width: 80px;
      height: 80px;
    }
  }
  .infoBlock {
    margin-left: 0.75rem;
  }
}

.formsBlock {
  display: flex;
  flex-direction: row;
  .form {
    margin-left: 10px;
  }
}

.itemsBlock {
  margin-left: 2rem;
  margin-top: 2rem;
}

.subscribe {
  margin-top: 36px;
  a {
    text-decoration: none;
  }
}
.button {
  position: relative;
  //padding: 8px 16px;
  background: #237804;
  border: none;
  outline: none;
  border-radius: 1px;
  //cursor: pointer;
  width: 120px; //edit
  transition: all ease 0.5s;
  &:active {
    background: rgb(87, 87, 87);
  }
  //display: inline-block;
  //background-color: gray;
  //box-sizing: border-box;
  span {
    font-size: 16px;
    color: white;
    transition: all 0.2s;
    //display: none;
  }
}
.button__loading .button__text {
  visibility: hidden;
  opacity: 0;
}
.button__loading::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: white;
  border-right-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
// .success {
//   position: relative;
//   background-color: #fff;
//   animation: bounce 0.3s ease-in;
// }
// @keyframes bounce {
//   0% {
//     transform: scale(0.9);
//   }
// }
// .success::before {
//   content: '';
//   position: absolute;
//   //background: url('./../assets/svg/BoxIcons.jsx/CheckIcon3.svg') no-repeat;
//   background: url('./../assets/img/icons8-checkmark.gif') no-repeat;
//   //background: red;
//   left: 0;
//   right: 0;
//   margin: 0 auto;
//   width: 19px;
//   height: 19px;
//   line-height: 31px;
//   top: 8px;
// }
