@import './../../../../styles/variables.scss';

.wrapper {
  position:relative;
  width: 400px;
  height: 480px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  margin-top: calc(3.5rem + #{$headerHeight});
  backdrop-filter: blur(20px);
  box-shadow: 0 0 24px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .2s ease;
  overflow: hidden;
  // transform: scaleY(1.2);
  // transition: transform .5s ease, height .2s ease;
  // transition-duration: 3s;
  // transition: height 2s ease;
  animation: login-appear 0.8s ease;
 
  .form_box {
    width: 100%;
    padding: 40px;
    // display: none;
    // background: yellow;

    h2 {
      font-size: 2em;
      color: #162937;
      text-align: center;

    }
  }
  // .form_box_register {
  //   position: absolute;
  //   transition: none;
  //   transform: translateX(400px);
  // }
 
  .icon_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ced9e0;
    font-size: 1em;
    color: #162937;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }

  .input_box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162937;
    margin-top: 6px;    

    label {
      position:absolute;
      top: 46px;
      left: 5px;
      transform: translateY(-140%);
      font-size: 0.8em;
      color:#162937;
      font-weight: 400;      
      pointer-events: none;
      transition: 0.5s;
      line-height: 22px;
    }

    input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1em;
      color: #162937;
      font-weight: 600;
      padding: 0 35px 0 5px;

      // &:focus~label, &:not(:empty)~label {      
      &:focus~label, &:not(:placeholder-shown)~label {    
        top: 24px;
      }
    }
    .pre_icon {
      position: absolute;
      right: 36px;
      font-size: 1.2em;
      color: #162937;
      line-height: 58px;
      cursor: pointer;
    }
    .icon {
      position: absolute;
      right: 8px;
      font-size: 1.2em;
      color: #162937;
      line-height: 57px;
    }
  }

  .span_error {
    color: red;
    font-size: 0.8em;
    text-align: center;
    height: 0.6em;   
  }
  .remember {
    font-size: 0.8em;
    color: #162937;
    font-weight: 150;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

    label input {
      accent-color: #162937;
      margin-right: 3px;
    }
    a {
      color: #162937;
      text-decoration: none;
      
    }
  }
  .btn {
    width: 100%;
    height: 45px;
    background:#162937;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color:antiquewhite;
    font-weight: 500;
  }
  .login_register {
    font-size: .9em;
    color: #162937;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

    p a {
      color: #162937;
      text-decoration: none;
      font-weight: 600;
    }

    p a:hover {
      text-decoration: underline;
    }
  }
}

@keyframes login-appear {
  0% {
    // height: 0px;
    opacity: 0;
  }
  100% {
    // height: 400px;
    opacity: 1;
  }
}