@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; //edit
}

body {
  width: 100%;
  font-family: $Poppins;
  color: $dark;
  margin: 0px;
  padding: 0px;

}

#root {
  height: 100%;
}
