@import './../../styles/variables.scss';

.container {
  height: calc(100vh - #{$headerHeight});
  width: 100%;
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
}
