@import './../../styles/variables.scss';

.container {
  // height: calc(100vh - #{$headerHeight});
  //height: fit-content;
  min-height: 100vh;
  width: 100%;
  // background: $bg;
  // background-image: url("../assets/img/roads-modern-city-28584887.jpg");
  // background-repeat: no-repeat;
  // background: url("../assets/img/roads-modern-city-28584887.jpg") no-repeat center;
  background: url("../assets/img/istockphoto-1216009620-612x612.jpg") no-repeat center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  //align-items: center;
  //margin-bottom: 32px;
  padding-bottom: 32px;
}
