
// html,
// body {
//     height: 100vh;
//     display: grid;
//     place-items: center;
//     font-family: var(--font-family);
//     background-color: var(--bg-body);
// }

.calendar {
    // height: max-content;
    // width: max-content;
    height: 390px;
    width: 340px;
    // background-color: var(--bg-main);
    background-color: green;
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    /* transform: scale(1.25); */

    .calendar_header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        font-weight: 600;
        color: var(--color-txt);
        padding: 10px;

        .month_picker {
            display: flex;
            flex-direction: row;
            
            // padding: 5px 10px;
            // border-radius: 10px;
            // cursor: pointer;
        
            .month_and_year {
                display: flex;
                flex-direction: row;
                margin-left: 1em;
                margin-right: 1em;
                justify-content: space-between;

                .year {
                    margin-left: 1em;
                }
            }
        }
    }
  
    .calendar_body {
        padding: 10px;

        .calendar_week_day {
            height: 50px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            place-items: center stretch;
            gap: 2px;
            font-weight: 600;
        }     
      
        .calendar_days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 2px;
            background-color: violet;

            .div_past_date {
                width: 45px;
                height: 45px;                
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                position: relative;
                color: rgb(143, 141, 141);
                // animation: to-top 1s forwards;
                /* border-radius: 50%; */
            }

            .div_curr_date {
                width: 45px;
                height: 45px;                
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                position: relative;
                // background-color: #0000ff;
                color: #0000ff;
                // animation: to-top 1s forwards;
                /* border-radius: 50%; */
            }
            .div_curr_date_selected {
                width: 45px;
                height: 45px;                
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                position: relative;
                cursor: pointer;
                // background-color: #0000ff;
                color: #0000ff;
                background-color: #0000ff;
                // animation: to-top 1s forwards;
                /* border-radius: 50%; */
            }
            .div_future_date {
                width: 45px;
                height: 45px;                
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                position: relative;
                color: rgb(0, 0, 0);
                // animation: to-top 1s forwards;
                /* border-radius: 50%; */
            }
            .div_future_date_selected {
                width: 45px;
                height: 45px;                
                border: 2px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                position: relative;
                cursor: pointer;
                color: rgb(0, 0, 0);
                background-color: #0000ff;
                // animation: to-top 1s forwards;
                /* border-radius: 50%; */
            }
           
            .div_past_date:hover {
                cursor: default;
            }
            .div_future_date:hover {
                cursor: pointer;
            }
            .div_curr_date:hover {
                cursor: pointer;
            }          
          
        }        
        
             
       
    }
}




// @keyframes to-top {
//     0% {
//         transform: translateY(100%);
//         opacity: 0;
//     }
//     100% {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }