@mixin animate($open) {
  @if $open {
    transform: translateX(0);
  } @else {
    transform: translateX(100%);
  }
}

.ul_container {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;

  li {
    padding: 18px 10px;
  }

  @media (max-width: 768px) {
    flex-flow: column nowrap;
    background-color: #0d2538;
    position: fixed;
    // transform: open ? translateX(0) : translateX(100%);
    transform: translateX(0);
    // @include animate(open);
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    padding-top: 3.5rem;
    transition: transform 0.3s ease-in-out;

    li {
      color: #fff;
    }
  }
}
